vcs.xml
/.idea/
.iml
/target/
.classpath
.project
.settings
ehthumbs.db
Thumbs.db
/logs/
.class
.jar
trade-web-common/trade-web-common.iml
*.iml
*.class
*.lst
trade-microservice-assistant/target/*
trade-kafka-customizer/target/*
*/target/*
