<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nxquant.exchange.walletservice.dao.ParamsMapper">
    <select id="findParamValueByCode" parameterType="java.lang.String" resultType="com.nxquant.exchange.walletservice.entity.ParamsEntity">
        select paramid as paramId,
              paramcode as paramCode,
              paramdesc as paramDesc,
              paramvalue as paramValue
       from t_params where paramcode = #{paramCode,jdbcType=VARCHAR}
    </select>

    <insert id="addParams" parameterType="com.nxquant.exchange.walletservice.entity.ParamsEntity">
        <selectKey keyProperty="paramId" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID() as paramId
        </selectKey>
        insert into t_params (paramcode,paramdesc,paramvalue)
        values (#{paramCode},#{paramDesc},#{paramValue})
    </insert>

    <update id="UpdateParamByCode" parameterType = "com.nxquant.exchange.walletservice.entity.ParamsEntity">
        update t_params set paramvalue=#{paramValue} where paramid=#{paramId}
    </update>
</mapper>