<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nxquant.exchange.walletservice.dao.RechargeMapper">
    <select id="findAllUnfinish" resultType="com.nxquant.exchange.walletservice.entity.RechargeEntity">
        select rechargeid as rechargeId,
              coinid as coinId,
              txid as txId,
              fromaddr as fromAddr,
              toaddr as toAddr,
              value as value,
              fee as fee,
              receivetime as receiveTime,
              status as status,
              remark as remark
       from t_recharge where <![CDATA[status < 3]]>
    </select>

    <select id="findByTxId" parameterType="java.lang.String" resultType="com.nxquant.exchange.walletservice.entity.RechargeEntity">
        select rechargeid as rechargeId,
        coinid as coinId,
        txid as txId,
        fromaddr as fromAddr,
        toaddr as toAddr,
        value as value,
        fee as fee,
        receivetime as receiveTime,
        status as status,
        remark as remark
        from t_recharge where txid = #{txId,jdbcType=VARCHAR}
    </select>

    <insert id="addRecharge" parameterType="com.nxquant.exchange.walletservice.entity.RechargeEntity">
        <selectKey keyProperty="rechargeId" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID() as rechargeId
        </selectKey>
        insert into t_recharge (coinid,txid,fromaddr,toaddr,value,fee,receivetime,status,remark)
        values (#{coinId},#{txId},#{fromAddr},#{toAddr},#{value},#{fee},#{receiveTime},#{status},#{remark})
    </insert>

    <update id="updateRecharge" parameterType="com.nxquant.exchange.walletservice.entity.RechargeEntity">
        update t_recharge set status = #{status},remark = #{remark} where rechargeid = #{rechargeId}
    </update>



</mapper>